<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>19/09/28 21:54:27</td>   <td>0</td> <td title="&gt;&gt;AddToCart.getSheet()[pri:0, instance:com.wp.AddToCart@6a41eaa2]">&gt;&gt;getSheet</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/09/28 21:54:27</td>   <td>552</td> <td>&nbsp;</td><td title="&gt;&gt;AddToCart.browser()[pri:0, instance:com.wp.AddToCart@6a41eaa2]">&gt;&gt;browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/09/28 21:54:37</td>   <td>10375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCart.cartManagement()[pri:1, instance:com.wp.AddToCart@6a41eaa2]">cartManagement</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>19/09/28 21:56:06</td>   <td>99702</td> <td>&nbsp;</td><td title="&lt;&lt;AddToCart.quitBrowser()[pri:0, instance:com.wp.AddToCart@6a41eaa2]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
